<!DOCTYPE html>
<html>
    <meta charset ="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>
    
    </title>
<head>
	<title>Binder Create Profile</title>
	<link rel="icon" href="https://binder.sites.tjhsst.edu/images/icon.PNG">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://binder.sites.tjhsst.edu/css/login.css"></head>
<body>
    <div id="login">
    <div class="header">
      <h1>Create Your Account</h1>
    </div class="container">
    <form action = "form_createProfile" method = "POST">
        
      <div class="group">
        <label>Confirm Username:</label>
        <input name="confirm_username" type="text">
      </div>  
      
      <div class="group">
        <label>First Name:</label>
        <input name="firstname" type="text">
      </div>
      
      <div class="group">
        <label>Last Name: </label>
        <input name="lastname" type="text">
      </div>
      
      <div class="group">
        <label>Grade: </label>
        <input name="gradelevel" type="text">
      </div>
      
      <div class="group">
        <label>School: </label>
        <input name="school" type="text">
      </div>
      
      <div class="group">
        <label>Address: </label>
        <input name="address" type="text">
      </div>
      
      <div class="group">
        <label>Phone Number: </label>
        <input name="contact_info" type="text">
      </div>
      
        
      <div></div><button name="btnSubmit" type="submit" class="button buttonBlue">Create</button></div>
    </form>
  </div>
  <footer>
    
  </footer>
    
</body>
</html>